
.modify-table {
    .antd-table {
        font-size: 12px;
    }
    .ant-table {
        font-size: 13px;
        border: 1px solid #e8e8e8;
    }
    .ant-table-tbody > tr > td {
        padding: 10px 14px;
        font-size: 12px;
    }
    .ant-table-thead > tr > th {
        padding: 12px 14px;
        background-color: #d9d9d9;
    }
}